.final
    width: auto

    padding: 3rem 0

    &__headline
        font-size: 3.5rem
        font-weight: bold

        padding: 2rem 0

    &__result
        position: relative
        font-weight: bold

        font-size: 8rem

        &__wrapper
            text-align: center
            font-size: 1.25rem

            padding: 2rem

            & > *+*
                margin-top: 1rem

    &__speed-unit
        font-size: 1rem
        font-weight: bold
