.final
    width: auto

    padding: 3rem 0

    &__headline
        font-size: 3.5rem
        font-weight: bold

        margin-top: 2rem
        margin-block: 2rem

    &__result
        font-weight: bold
        font-size: 8rem

        line-height: 6.25rem

        &__right-clicks
            font-weight: bold
            font-size: 2.25rem

        &__wrapper
            display: flex
            text-align: center
            font-size: 1.25rem

            padding: 2rem

            & > *+*
                margin-left: 1rem

    &__speed-unit
        font-size: 1rem
        font-weight: bold
